<div class="container mt-5">
  <% if @story.selected %>
    <h3 class="text-center">이기사는 면에 배정 되었습니다.</h3>
    <%= render 'selected', story: @story, working_article: @story.working_article %>
  <% else %>
    <h3 class="text-center">story is not selected</h3>
    <%= render 'form', story: @story %>
  <% end %>
  <%= link_to 'Show', @story %> |
  <%= link_to 'Back', stories_path %>
</div>
