<div class="container mt-5">
  <h3 class="text-center">기사작성</h3>
  <%= render 'form', story: @story, user:@user%>
</div>
<!-- div align="center">
    <%= link_to '이전으로', my_stories_path , method: :get, class: "btn btn-md btn-success"%>   
</div-->
