<div class="container">
  <h3 class="text-center">연합기사</h3>
  <div class="" id="yh_article_search">
    <%= render 'search_form' %>
  </div>
  <div id="search_result">
    <%= render "search_result" %>
  </div>
</div>
