<div class="container">
  <h3 class="display-4 text-center">연합 국내취재 기사</h3>
  <div class="" id="yh_article_search">
    <%= render 'search_form' %>
  </div>
  <div id="yh_search_result">
    <%= render "search_result" %>
  </div>
</div>
